<ion-title class="title">Last viewed</ion-title>

<ion-card mode="ios" color="primary" class="card">
  <ion-card-content class="card-content">

    <div class="wrapper">
      @for (item of data; track item) {
        @if (item) {
          <div class="item">
          <img [src]="getCoinIcon(item.id)" [alt]="item.name" class="item-image">
          <div class="item-symbol">{{ item.symbol }}</div>
          <div
            class="item-change"
            [class.positive]="item.quote.USD.percent_change_24h > 0"
            [class.negative]="item.quote.USD.percent_change_24h < 0"
          >
            {{ item.quote.USD.percent_change_24h | number : '1.2-2' }}%
          </div>
        </div>
        }
        
      } @empty {
        Empty list of coins
      }
    </div>

  </ion-card-content>
</ion-card>