<ion-modal
  #modal
  [class]="selectedModalType"
  [isOpen]="isOpen"
  [enterAnimation]="selectedModalType === modalType.FULL_SCREEN ? enterAnimation: null"
  [leaveAnimation]="selectedModalType === modalType.FULL_SCREEN ? leaveAnimation : null"
  (ionModalDidDismiss)="openModal.emit(false)"
  >
  <ng-template>
    
    <ion-header>
      <ion-toolbar mode="ios" color="primary">
      
        <ion-buttons slot="start">
          <ion-button mode="ios" shape="round" (click)="modal.dismiss()">
            @switch (selectedModalType) {
              @case (modalType.FULL_SCREEN) {
                <ion-icon name="arrow-back-outline"></ion-icon>
              }
              @default {
                <ion-icon name="close-outline"></ion-icon>
              }
            }
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button mode="ios" shape="round">
            @if(data.isfavorite) {
              <ion-icon name="star"></ion-icon>
            } 
            @else {
              <ion-icon name="star-outline"></ion-icon>
            }
          </ion-button>
  
          <ion-button mode="ios" shape="round">
            @if(data.isObserved) {
              <ion-icon name="notifications"></ion-icon>
            } 
            @else {
              <ion-icon name="notifications-outline"></ion-icon>
            }
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="coin">
        <div class="coin-name">{{ data.name }}</div>
        <div class="coin-icon">
          <img [alt]="data.name" [src]="getCoinIcon(data.id)" />
        </div>
      </div>
      <div class="coin-short-name">{{ data.symbol }}</div>

      <div class="actions">
        <ion-button shape="round" color="success" (click)="openTradeModal(tradeType.BUY)">Buy</ion-button>
        @if(isCurrencyInWallet(data.symbol)) {
          <ion-button shape="round" color="danger" (click)="openTradeModal(tradeType.SELL)">Sell</ion-button>
        }
      </div>

      <div class="segments">
        <app-segments-tabs [tabConfig]="segmentsConfig"></app-segments-tabs>
      </div>
    </ion-content>

  </ng-template>
</ion-modal>

<ng-template #chart>
  <app-chart [data]="data"></app-chart>
</ng-template>

<ng-template #test1><div>Wallet 1</div></ng-template>

<app-trade-modal
  [data]="data"
  [isOpen]="isTradeModalOpen"
  [selectedModalType]="modalType.FULL_SCREEN"
  [tradeType]="selectedTradeType"
  (openModal)="isTradeModalOpen = $event;"
  (closeOnFinalizeTransaction)="isOpen = false; isTradeModalOpen = false"
></app-trade-modal>
