<ion-modal
  #modal
  [class]="selectedModalType"
  [isOpen]="isOpen"
  [enterAnimation]="selectedModalType === modalType.FULL_SCREEN ? enterAnimation: null"
  [leaveAnimation]="selectedModalType === modalType.FULL_SCREEN ? leaveAnimation : null"
  (ionModalDidDismiss)="openModal.emit(false)"
  >
  <ng-template>
    
    <ion-header>
      <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
          <ion-button mode="ios" shape="round" (click)="modal.dismiss()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <div class="header">
        {{tradeType === tradeTypeEnum.SELL ? 'Sell' : 'Buy'}} {{data.symbol}}
      </div>

      <form [formGroup]="form" class="form">
        <div class="item">
          <div>
            <div class="item-symbol">
              <img [src]="getIconUrl(data.id)" [alt]="data.name">
              <div>{{data.symbol}}</div>
            </div>
            <div class="item-balance">Balance: {{data.amount}}</div>
          </div>
          <ion-input
          formControlName="currencyInput"
            class="ion-text-right"
            mode="ios"
            type="number"
            inputmode="decimal"
            min="0"
            placeholder="0,00"
            (ionInput)="onCurrencyInput($event)"
          ></ion-input>
        </div>
  
        <div class="item-separator">
          <ion-icon name="arrow-up-circle" size="large" color="success"></ion-icon>
        </div>
  
        <div class="item" [class.error]="form.get('balanceInput')?.errors">
          <div>
            <div class="item-symbol">
              <ion-icon size="large" name="cash-outline"></ion-icon>
              <div>USD</div>
            </div>
            <div class="item-balance" (click)="spendAllBalance(store.balance())">
              Balance: {{ store.balance() | currency : 'USD' : 'symbol' }}
            </div>
          </div>
          <div>
            <ion-input
              formControlName="balanceInput"
              class="ion-text-right full"
              mode="ios"
              type="number"
              inputmode="decimal"
              min="0"
              placeholder="0,00"

              (ionInput)="onBalanceInput($event)"
            ></ion-input>

            @if(form.get('balanceInput')?.errors) {
              <div class="item-error">Your balance is to low</div>
            }
            
          </div>
          
        </div>
      </form>

      <ion-button
        expand="block"
        shape="round"
        [disabled]="isTradeButtonDisabled()"
        (click)="onAction(data.symbol)"
      >
        {{tradeType === tradeTypeEnum.SELL ? 'Sell' : 'Buy'}}
      </ion-button>

    </ion-content>

  </ng-template>
</ion-modal>
