<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="segments">
    <app-segments-tabs
      [tabConfig]="segmentsConfig"
      (switchTo)="onSegmentChange($event)"
    ></app-segments-tabs>
  </div>
</ion-content>

<!-- SEGMENTS -->
<ng-template #walletTmpl>
  @if(store.entities().length) {
    <ion-list mode="ios" [inset]="true">
      @for (item of store.entities(); track item.name) {
        <app-list-item
          [selectedItemType]="listItemType.WALLET"
          [item]="item"
          (selectItem)="openModalOnSelectItem($event, modalType.FULL_SCREEN)"
        >
        </app-list-item>
      }
    </ion-list>
  } @else {
    <!-- TODO add spinner -->
    <div>loading</div>
  } 
</ng-template>

<ng-template #discoveryTmpl>
  <app-last-viewed [data]="store.loadedLastViewed()"></app-last-viewed>

  <!-- <div>Staking</div>
  <div>Edukacja</div>
  <div>Największe zmiany (Największy zysk/Największa strata)</div>
  <div>Największy obrót</div>
  <div>Kolekcje</div>
  <div>Wszystkie kryptowaluty (10 na karcie  + wyświetl wszystko)</div> -->

  @if(store.allCryptocurrencies().length) {
    <ion-list mode="ios" [inset]="true">
      @for (item of store.allCryptocurrencies(); track item.name) {
        <app-list-item
          [selectedItemType]="listItemType.TRADE"
          [item]="item"
          (selectItem)="openModalOnSelectItem($event, modalType.CARD)"
        >
        </app-list-item>
      }
    </ion-list>
  } @else {
    <div>loading</div>
  }
</ng-template>

<app-modal
  [selectedModalType]="openedModalType"
  [isOpen]="isModalOpen"
  [data]="selectedItem"
  
  (openModal)="test123($event)"
></app-modal>
<!-- (openModal)="isModalOpen = $event" -->