<ion-header mode="ios" collapse="fade">

  <ion-toolbar mode="ios">

    <ion-buttons slot="start">
      <ion-button mode="ios" shape="round">
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar
      mode="ios"
      animated="true"
      color="tertiary"
      (ionInput)="onSearch($event)"
    ></ion-searchbar>

    <ion-buttons slot="end">
      <ion-button mode="ios" shape="round">
        <ion-icon name="stats-chart"></ion-icon>
      </ion-button>
      <ion-button mode="ios" shape="round">
        <ion-icon name="card"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>