/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-app {

  &.ios {
    margin-top: 58px;

    ion-content {
      overflow-y: scroll;
    }

  }

  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
}

.ion-page {
  justify-content: flex-start;
}

ion-content::part(background) {
  background-color: var(--ion-color-dark);
}


ion-content::part(scroll) {
  color: var(--ion-color-light);
}

ion-searchbar .searchbar-input-container input {
  border-radius: 20px!important;
}

.list-ios {
  border-radius: 24px;
  &.list-inset {
    margin: 0;
  }
}

ion-segment {
  background: var(--ion-color-primary);
  border-radius: 18px;
}

ion-segment-button {
  &::part(native) {
    color: var(--ion-color-tertiary);
    background: var(--ion-color-primary);
    border-radius: 16px;
  }

  &::part(indicator-background) {
    background: var(--ion-color-primary);
  }

  &.segment-button-checked::part(native) {
    color: var(--ion-color-light);
    background: var(--ion-color-secondary);
  }

}

ion-modal {
  &::part(backdrop) {
    background-color: var(--ion-color-primary);
  }

  &::part(content) {
    background-color: var(--ion-color-primary);
  }

  &.cardModal {
    &::part(content) {
      margin-top: 168px;
      border-radius: 24px;
      background-color: transparent;
    }
  }

  ion-content {

    &::part(background) {
      background-color: var(--ion-color-primary);
    }
  
    &::part(scroll) {
      padding: 24px;
    }
  }
  
  ion-header {
    box-shadow: none!important;
  
    ion-toolbar {
      padding: 8px !important;
  
      &:first-of-type {
        padding-top: 0;
      }
    }
  
    ion-button {
      margin-right: 16px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
}